
/* Structure */
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .cst-list{
display: flex;
flex-direction: row;
justify-content: space-between;
  }