<div>
    <h1>Do You Want to Delete this customer?</h1>
    <div class="button">
        <button mat-stroked-button (click)="close()" color="warn">Cancel</button>
        <button mat-flat-button color="warn" (click)="deleteCustomer()">Delete</button>

    </div>
</div>