.parent-container {
    display: flex; /* Make the parent container a flex container */
    justify-content: center; /* Center the child horizontally */
    align-items: center; /* Center the child vertically */
    height: 100vh; /* Optionally, set a height for the parent container */
}

.container{
    width: 60vh;
    height: 60vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.error-message{
    color: red;
    font-size: 10px;
}
.button{
    margin: 20px;
    margin-left: 30px;
}