<div class="parent-container">
    <div class="container">
        <form  [formGroup]="addForm">
    
            <div class="row">
                <div>
                    <mat-form-field>
                        <mat-label>Customer Name</mat-label>
                        <input matInput placeholder="Enter customer name" formControlName="name" name="customerName">
                      </mat-form-field>
                      <div *ngIf="addForm.get('name')?.touched && addForm.get('name')?.hasError('required')" class="error-message text-danger">
                        Customer Name is required.
                    </div>
                    <div *ngIf="addForm.get('name')?.hasError('name')" class="error-message text-danger">
                      Invalid Name format.
                    </div>
                  </div>
                   
                  
                  <div>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Enter email" formControlName="email" name="email">
                      </mat-form-field>
                      <div *ngIf="addForm.get('email')?.touched && addForm.get('email')?.hasError('required')" class="error-message text-danger">
                        Customer Name is required.
                    </div>
                    <div *ngIf="addForm.get('email')?.hasError('email')" class="error-message text-danger">
                      Invalid Name format.
                    </div>
                  </div>
                  <div>
                    <mat-form-field>
                        <mat-label>Phone</mat-label>
                        <input matInput placeholder="Enter phone number" formControlName="phone" name="customerName">
                      </mat-form-field>
                      <div *ngIf="addForm.get('phone')?.touched && addForm.get('phone')?.hasError('required')" class="error-message text-danger">
                        Phone is required.
                    </div>
                    <div *ngIf="addForm.get('phone')?.hasError('phone')" class="error-message text-danger">
                      Invalid Name format.
                    </div>
                  </div>
                  <div>
                    <mat-form-field>
                        <mat-label>Website</mat-label>
                        <input matInput placeholder="Enter customer name" formControlName="website" name="customerName">
                      </mat-form-field>
                      <div *ngIf="addForm.get('website')?.touched && addForm.get('website')?.hasError('required')" class="error-message text-danger">
                        Website is required.
                    </div>
                    <div *ngIf="addForm.get('website')?.hasError('website')" class="error-message text-danger">
                      Invalid Name format.
                    </div>
                  </div>
            </div>
    
            <button mat-raised-button class="button" color="primary" (click)="addCustomer()">Update </button>
          </form>
    </div>
    </div>
    