<mat-toolbar class="toolbar" >
  <div (click)="drawer.toggle()" mat-icon-button><mat-icon style=" color: white;">menu</mat-icon></div>
  <div style="padding-left: 10px; color: white;"><h1>CRM</h1></div>

<mat-menu #menu="matMenu" yPosition="below" >
</mat-menu>
</mat-toolbar>
<mat-drawer-container  autosize>
  <mat-drawer #drawer opened="true" mode="side">
  <mat-nav-list>
    <div>
    <mat-list-item>
      <h2 [routerLink]="['/customer-list']">Customer</h2>
 </mat-list-item>
</div>
  </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="mainmenu"><router-outlet></router-outlet></div>
  </mat-drawer-content>
</mat-drawer-container>