.toolbar{

    height: 10vh;
  
    background-color: #C2121F;
  
  }

  .mainmenu{

    background-color: #ffff;

    height: 88vh;

    border-radius: 10px;

    margin-left: 2vh;

    margin-right: 2vh;

    margin-top: 2vh;

}

mat-drawer {

    background-color: #f3ddd2;
  
    width: 10%;
  
  }

  mat-list-item{

    margin-top: 8px;
  
    display: flex;
  
    flex-direction: row;
  
  }
  
   
  
  mat-list-item h2{
  
    font-size: medium;
  
    margin-left: 15px;
  
    margin-top: 15px;
  
  }
  mat-list-item mat-list-item-active {

    background-color: #C2121F;
  
    color: white;
  
  }